td{
    word-break: break-all;
}

#qtdPedido{
    width: 32px;
    height: 32px;
    text-align: center;
}

.addPedido{
    background-image: url('../img/plus-square.svg');
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    box-shadow: none;
    border: solid 1px;
}

.remPedido{
    background-image: url('../img/dash-square.svg');
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    box-shadow: none;
    border: solid 1px;
}

.remPedido:hover, .addPedido:hover{
    box-shadow: none;
}

.carrinhoContainer{
    background-color: rgb(177, 251, 167);
}

.item{
    font-size: 12px;
    color: #81868b;
}

@media (min-width: 768px){
    .hidden-md-up {
        display: none!important;
    }
}
