td{
    word-break: break-all;
}

#qtdPedido{
    width: 40px;
    height: 32px;
    text-align: center;
    margin-inline: 9px;
    border-radius: 0.375rem;
}

.addPedido{
    background-image: url('../img/plus.svg');
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    box-shadow: none;
    border: solid 1px;
}

.remPedido{
    background-image: url('../img/dash.svg');
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    box-shadow: none;
    border: solid 1px;
}

.imgAcai{
    background-image: url('../img/acai.png');
    background-size: cover;
    background-position: center;
}

.remPedido:hover, .addPedido:hover{
    box-shadow: none;
}

.carrinhoContainer{
    background-color: rgb(177, 251, 167);
}

.item{
    font-size: 12px;
    color: #81868b;
}

.finalizar{
    display: flex;
    align-items: center;
}

.dispoAdi, .excluirAdi, .dispoAdiPag, .excluirAdiPag{
    height: 355px;
    overflow: hidden;
    overflow-y: auto;
}

.cardAcai:hover, .excluir:hover, .horario:hover{
    cursor: pointer;
}

/* mudando a cor padrão do primary */
.form-check-input:checked, .btn-primary, .bg-primary {
    color: white;
    background-color: #8367c7 !important;
    /* background-color: #e3ba78 !important; */
    border-color: rgba(0, 0, 0, 0.25) !important;
}



.accordion-button, .logar{
    background-color: #D0C3EE;
    color: #2f0147;
}

.accordion-item{
    border: none;
}

.navbar-toggler-icon{
    background-image: url('../img/download.svg');
}

.navbar-toggler:focus{
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.accordion-item:last-of-type .accordion-button.collapsed{
    /* border-radius: none!important; */
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.form-check-input:focus, .btn-primary:focus{
    border-color: rgba(0, 0, 0, 0.25) !important;
    outline: 0;
    box-shadow: none;
}

.menu:hover, .excluir-tipo:hover,.excluir-acai, .excluir-creme:hover, .excluir-adi:hover, .excluir-adiPag:hover{
    cursor: pointer;
}

@media (min-width: 768px){
    .hidden-md-up {
        display: none!important;
    }
}

@media (min-width: 768px){
    .navDash{
        display: none;
    }
    .card.shadow{
        width: 70%;
    }
}

@media (max-width: 768px){
    .sideMenu, .navLg{
        display: none;
    }

    /* .container-main{
        padding-right: 0px;
        padding-left: 0px;
    } */
}

@media (width: 768px){
    .sideMenu, .navLg{
        display: flex;
    }
}